click==8.1.7
numpy==1.26.4
pandas==2.2.0
torch==2.2.0
accelerate==0.27.2
tqdm==4.66.2
transformers==4.37.2
diskcache==5.6.3
requests==2.31.0
scikit-learn==1.4.0
evaluate==0.4.1
sentencepiece==0.2
protobuf==3.20.0
